# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://xxxxxxxxxxxxxxxxxxxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Resend (correos transaccionales)
RESEND_API_KEY=
RESEND_FROM_EMAIL=cotizaciones@laoriental.co

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
