# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/

# env files — NUNCA subir al repo
.env
.env.local
.env.*.local

# production
build/
dist/

# misc
.DS_Store
*.pem
.vercel
*.tsbuildinfo
next-env.d.ts

.vercel
